
/*ALLGEMEIN*/
html, body {
    width: 100%;
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
}

html {
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    overflow: auto; /* Scrollleisten werden angezeigt, wenn der Inhalt die Höhe des Browserfensters überschreitet */
    background-color: whitesmoke;
}

h2, h3, h4, h5, h6 {
    font-family: 'Source Sans 3', sans-serif;
    /*font-family: 'Allan', serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Antonio', sans-serif;
    font-family: 'Arvo', serif;*/
}
h1 {    
    font-family: 'Varela Round', sans-serif;
    color: whitesmoke;
}

#subtitle{ 
    font-family: 'Allan', sans-serif;
    color: whitesmoke;
}

.seitentitel{
    margin: 23px;
    text-align: center;
}

/*???*/
.section p { 
    text-align: justify;
}

header {
    border-bottom: 1px solid aliceblue;
    background: #333;
    /*background: linear-gradient(-180deg, #333 30%, darkseagreen 100%);*/
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 9;
    width: 100%;
    text-align: center;
}

footer {
    color: #becee2;
    background: #33547d;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
    padding: 24px calc((100% - 560px) / 2);
    z-index: 9;
    font-size:x-small;
}

.content {
    flex-grow: 1;
    display: flex;
    height: 500px; /* Feste Höhe von 300 Pixeln */
    align-items: stretch;
    justify-content: center; /* Das zentriert das map-Element horizontal */
    text-align: center;
    position: relative;
}

/*google fonts symbols*/
.material-symbols-outlined {
    font-variation-settings:'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    z-index: 99; /* Hinzugefügte Zeile: Über dem map-Element anzeigen */
}

/*HOME*/
/*LOGIN & REGISTRATION*/
.login-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
}

button#loginButton {
    position: fixed;
    margin: 20px;
    padding: 10px 20px;
    background: steelblue;
    color: #fff;
    border: none;
}

button#submitLogin {
    margin-top: 10px;
    padding: 10px 20px;
    background: steelblue;
    color: #fff;
    border: none;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}



/*TRACKING BUTTON*/
#trackButton{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    padding: 50px 80px;
    background: darkseagreen;
    color: #fff;
    border: none;
}





/*USER MAP*/
#map {
    flex: 1;
    top: 115px;
    left: 0;
    width: 100%;
    height: 100%; /* Feste Höhe von 300 Pixeln */
    position: fixed;
    z-index: 1; 
}



.map {
    position: fixed;
    padding: 20px;
    background: transparent;
    top: 75%;
    right: 0;
    transform: translate(0, 0);
    z-index: 90;
}

.map button {
    background: none;
    border: none;
    padding: 0;
    border-radius: 50%; /* Runden Sie die Ecken ab, um einen Kreis zu erstellen */
    width: 60px; /* Passen Sie die Größe des Kreises an */
    height: 60px; /* Passen Sie die Größe des Kreises an */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 91;
}

.map button span.material-symbols-outlined {
    border: none;
    background: #33547d; /* Hintergrundfarbe des Icons */
    color: white; /* Textfarbe des Icons auf transparent setzen */
    border-radius: 50%; /* Runden Sie die Ecken des Icons ab, um es in den Kreis passen zu lassen */
    padding: 14px; /* Innenabstand des Icons erhöht */
    font-size: 24px; /* Größe des Icons erhöht */
    display: inline-block;
    z-index: 92;
}

#fullscreenButton{
    position: absolute;
    bottom: 8px;
    left: 8px;
    background: rgba(255, 255, 255, 0.7); /* Hinzugefügte Zeile: Hintergrundfarbe mit Transparenz */
    padding: 3px; /* Hinzugefügte Zeile: Innenabstand für den Button */
    z-index: 2;
    border: 2px solid rgba(0, 0, 0, 0.332);
}


/* Füge eine Pseudo-Element, um das Icon zu zentrieren */
#fullscreenButton i {
    display: block;
    text-align: center;
}





/*ANALYSE*/
.analysis{
    margin: 20px;
}

.chart {
    height: 200px;
    justify-content: space-evenly;
}

#balken1{
    fill: green;
}

#balken2{
    fill: red;
}

#balken3{
    fill: blue;
}

#reward{
    margin-left: 20px;
}



/*FAQ*/
#faq{
    margin: 20px;
}




/* Stil für Desktop- und Mobilansicht */

@media screen {
    header {
        position: fixed;
    }

    .seitentitel{
        padding-top: 80px;
    }

    .toolbar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #333; /* Hintergrundfarbe des Blocks */
        color: #fff; /* Textfarbe des Blocks */
        padding: 30px; /* Innenabstand des Blocks */
        z-index: 999; /* Um sicherzustellen, dass der Block im Vordergrund steht */
        display: flex;
        justify-content: space-between; /* Abstand zwischen den Buttons */
        box-sizing: border-box;
    }

    .toolbar button {
        background: none;
        color: white;
        border: none;
        font-size: 10px; /* Größe der Icons anpassen */
        margin: 0 10px; /* Abstand zwischen den Buttons anpassen */
    }

    .footer-content {
        padding-bottom: 80px;
    }
}
