/*ALLGEMEIN*/
html,
body {
    width: 100%;
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
}

html {
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    overflow: auto;
    /* Scrollleisten werden angezeigt, wenn der Inhalt die Höhe des Browserfensters überschreitet */
    background-color: white;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans 3', sans-serif;
    /*font-family: 'Allan', serif;
    font-family: 'Allan', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Antonio', sans-serif;
    font-family: 'Arvo', serif;*/
}

h1 {
    font-family: 'Varela Round', sans-serif;
    color: black;
    margin-bottom: 10px;
    margin-top: 40px;
}

#subtitle {
    font-family: 'Anton', sans-serif;
    color: black;
    margin-top: 5px;
}

.seitentitel {
    margin: 50px;
    text-align: center;
    /*text-decoration: underline rgb(131, 176, 176) wavy 1.5px;*/
}

/*???*/
.section p {
    text-align: justify;
}

header {
    position: relative;
    border-bottom: 1px solid aliceblue;
    width: 100%;
    text-align: center;
    background-color: rgb(131, 176, 176);
    z-index: 1;
    /* Ensure the header stays above the pseudo-element */
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
    height: 140px;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/picture4.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}


footer {
    color: white;
    background: rgb(131, 176, 176);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
    padding: 15px calc((100% - 560px) / 2);
    z-index: 9;
    font-size: x-small;
    text-align: center;
}

/*TOOLBAR*/
.toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 40px;
    /* Ändere die Padding-Größe für die eingeklappte Ansicht */
    z-index: 999;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    transition: padding 0.3s;
    /* Füge eine Transition für eine sanfte Animation hinzu */
}

.toolbar button {
    background: none;
    color: white;
    border: none;
    font-size: 10px;
    margin: 0 5px;
    /* Ändere den Margin für die Buttons */
}

/*
.toolbar.collapsed button {
 Verstecke die Buttons in der eingeklappten Ansicht 
}*/

.toolbar.collapsed {
    padding: 5px;
    overflow: hidden;
    transition: padding 0.3s ease-in-out;
}

/* Wenn die Maus über die Toolbar fährt */
.toolbar:hover.collapsed {
    padding: 40px;
    /* Zeige die Toolbar vollständig beim Hover */
}


.content {
    flex-grow: 1;
    display: flex;
    min-height: 100vh;
    /* 100% der Bildschirmhöhe */
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}


/*google fonts symbols*/
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    z-index: 99;
    /* Hinzugefügte Zeile: Über dem map-Element anzeigen */
}


/*MENU*/
/* Stil für das Hamburger-Menü */
.hamburger-menu {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
}

.menu-items {
    list-style-type: none;
    display: none;
}

/* Standardmenü für Desktop */
.menu-items.active {
    display: inline-flex;
    margin: 20px;
    padding: 0;
}


/*HOME*/
/*LOGIN NEW*/
.login-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
}

button#loginButton {
    position: fixed;
    margin: 40px 20px;
    padding: 10px 10px;
    background: #333;
    color: #fff;
    border: none;
}

button#submitLogin {
    margin-top: 10px;
    padding: 10px 20px;
    background: rgb(131, 176, 176);
    color: #fff;
    border: none;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}



/*TRACKING BUTTON*/
#trackButton {
    position: relative;
    left: 50%;
    transform: translate(-50%, -5%);
    z-index: 5;
    padding: 50px 80px;
    background: rgb(131, 176, 176);
    color: #fff;
    border: none;
    font-size: larger;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/*NET_INFO*/
.network-info {
    border: 1px solid #ccc;
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 20px auto;
    /* Center horizontally */
}


.network-info p {
    margin: 5px 5px;
}



/*PROVIDER MAP*/
#map {
    flex: 1;
    top: 143px;
    left: 0;
    width: 100%;
    height: calc(100% - 250px);
    position: fixed;
    z-index: 1;
}

.map {
    position: fixed;
    padding: 20px;
    background: transparent;
    top: 70%;
    right: 0;
    transform: translate(0, 0);
    z-index: 90;
}

.map button {
    background: none;
    border: none;
    padding: 0;
    border-radius: 50%;
    /* Runden Sie die Ecken ab, um einen Kreis zu erstellen */
    width: 60px;
    /* Passen Sie die Größe des Kreises an */
    height: 60px;
    /* Passen Sie die Größe des Kreises an */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 91;
}

.map button span.material-symbols-outlined {
    border: none;
    background: rgb(131, 176, 176);
    /* Hintergrundfarbe des Icons */
    color: white;
    /* Textfarbe des Icons auf transparent setzen */
    border-radius: 50%;
    /* Runden Sie die Ecken des Icons ab, um es in den Kreis passen zu lassen */
    padding: 14px;
    /* Innenabstand des Icons erhöht */
    font-size: 24px;
    /* Größe des Icons erhöht */
    display: inline-block;
    z-index: 92;
}

/* Füge eine Pseudo-Element, um das Icon zu zentrieren */
#fullscreenButton i {
    display: block;
    text-align: center;
}


/*ANALYSE*/
.analysis {
    border: 1px solid #ccc;
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 20px auto;
    margin-bottom: 40%;
    /* Center horizontally */
    text-align: left;
}

.chart {
    height: 200px;
    justify-content: space-evenly;
}

#balken1 {
    fill: rgb(14, 106, 78);
}

#balken2 {
    fill: rgb(102, 152, 228);
}

#balken3 {
    fill: rgb(147, 222, 177);
}



/*PROVIDER ANALYSE*/
/*
.seitentitel-provider {
    position: fixed;
    top: 0;
    width: 60%;
    background-color: rgb(131, 176, 176);
    color: #fff;
    margin-top: 125px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    border-radius: 10px; 
    margin-left: 20%; 
    margin-right: 20%; 
    font-size: small;
}*/

.seitentitel-provider {
    position: fixed;
    bottom: 0;
    width: 60%;
    background-color: rgb(131, 176, 176);
    color: #fff;
    margin-bottom: 125px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Für den Text innerhalb des Containers */
    border-radius: 10px;
    margin-left: 20%;
    /* Zentrieren horizontal */
    margin-right: 20%;
    /* Zentrieren horizontal */
    font-size: small;
}

.legend {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    color: #111111;
    
    padding: 10px;
    
    position: fixed;
    right: 0px;
    bottom: 200px;
    width: 40%;
    
    z-index: 999;
    display: flex;

    /* Für den Text innerhalb des Containers */
    font-size: small;
}


.legend-content {
    display: inline-block;
    background-color: green;
    opacity: 0.5;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.legendDescription {
    background-color: #f9f9f9;
}

/*FAQ*/
.faq {
    width: 100%;
    margin: 0 auto;
}

/* Stil für die Fragen */
.faq-item {
    border-bottom: 1px solid rgb(131, 176, 176);
}

.faq-question {
    background-color: #f4f4f4;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

/* Stil für die Antworten */
.faq-answer {
    padding: 10px;
    display: none;
    background-color: rgb(156, 189, 189);
}

.faq-answer.show {
    display: block;
}

#contact {
    margin: 15px;
}


@media screen and (min-width: 768px) {
    h1 {
        margin-top: 10px;
    }

    header {
        height: 85px;
    }
    .seitentitel-provider {
        margin-bottom: 50px;
    }

    #map {
        flex: 1;
        top: 60px;
        left: 0;
        width: 100%;
        height: calc(100% - 50px);
        position: fixed;
        z-index: 1;
    }
}


/* Stil für Desktop- und Mobilansicht */
@media screen {
    header {
        position: fixed;
    }

    .seitentitel {
        padding-top: 80px;
    }

    .footer-content {
        padding-bottom: 110px;
    }
}

/*enable tracking
logged in
browser unterstützt
gps enabled */